.container {
  display: flex;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.output {
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.output p {
  margin: 0;
}
